<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/head.ejs'); %>
  <title>
      <%= title %>
  </title>
</head>
<body>
  <%- include('../components/nav.ejs'); %>
  <div class="container mt-4">
    <h1>Welcome to About page</h1>
    
   </div>
  
</body>
</html>