<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('../components/head.ejs'); %>
  <title>
    <%= title %>
  </title>
</head>
<body>
  <%- include('../components/nav.ejs'); %>
 <div class="container mt-4">
  <h1>Welcome to homepage</h1>
  <a href="/download">Download</a>

  <%- include('../components/scripts.ejs'); %>
 </div>
</body>
</html>