<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head.ejs'); %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../components/nav.ejs'); %>
    <div class="container mt-4">
      <h3>Our Products!!</h3>
    </div>

    <div id="app" class="container mt-4"></div>

    <%- include('../components/scripts.ejs'); %>
  </body>
</html>
